.contact {
  margin-bottom: 4rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 6rem;
  }

  &__content {
    display: block;
  }

  &__title {
    text-align: center;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
  }

  &__info {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 300px;
    justify-content: center;
  }

  &__card {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 0.75rem;
    text-align: center;

    &-info {
      font-size: 2rem;
      color: var(--title-color);
      margin-bottom: var(--mb-0-25);
    }

    &-title {
      font-size: var(--small-font-size);
      font-weight: var(--font-medium);
    }

    &-data {
      font-size: var(--smaller-font-size);
      display: block;
      margin-bottom: var(--mb-0-75);
    }
  }

  &__button {
    color: var(--text-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.25rem;
    transition: 0.3s;

    &:hover {
      color: var(--primary-color);
    }

    &-icon {
      font-size: 1rem;
      transition: 0.3s;
    }

    &:hover &-icon {
      transform: translate(0.25rem);
      color: var(--primary-color);
    }
  }

  &__form {
    width: 360px;

    &-div {
      position: relative;
      margin-bottom: var(--mb-2);
      height: 4rem;

      &--textarea {
        height: 10rem;
      }
    }

    &-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid rgba(0, 0, 0, 0.3);
      font-size: var(--small-font-size);
      background-color: transparent;
      color: var(--text-color);
      outline: none;
      border-radius: 0.75rem;
      padding: 1.5rem;
      z-index: 1;

      &:focus {
        color: var(--title-color);
        background-color: transparent;
        border-color: var(--text-color);
        outline: 0;
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0.3);
      }

      &--textarea {
        height: 10rem !important;
        resize: none;
      }
    }

    &-tag {
      position: absolute;
      top: -0.75rem;
      left: 1.25rem;
      font-size: var(--smaller-font-size);
      padding: 0.25rem;
      background-color: var(--body-color);
      z-index: 10;
    }
  }
}

/*================ BREAKPOINTS ====================*/

/* For large devices */
@media screen and (max-width: 992px) {
  .contact {
    &__container {
      column-gap: 3rem;
    }
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .contact {
    &__container {
      grid-template-columns: 1fr;
      row-gap: 3rem;
    }

    &__info {
      justify-content: center;
    }

    &__form {
      margin: 0 auto;
    }
  }
}

/* For normal devices */
@media screen and (max-width: 576px) {
  .contact {
    &__info {
      grid-template-columns: 1fr;
    }

    &__form {
      width: 100%;
    }
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
}
