* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  margin: 0;
}

p {
  font-size: var(--normal-font-size);
  line-height: 1.7;
  color: var(--text-color);
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}
